%section.nav-wrapper{role: "nav"}
  .nav-container
    .nav-box
      = link_to lockouts_path do
        .nav-icon
          = fa_icon "lock"
        Lockouts
    .nav-box
      = link_to whowas_searches_path do
        .nav-icon
          = fa_icon "user"
        Whowas